body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.3;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 94%;
    position: relative;
    float: left;
    margin-left: 3%;
}
.card {
    width: 94%;
    position: relative;
    float: left;
    margin-left: 3%;    
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1);
    padding-bottom: 13px;
    border-radius: 3px; 
}
.center {
    text-align: center;   
}
.bg-1 {
    background-color: #0033cc;
}
.bg-2 {
    background-color: #fff;
}
.c1 {
    color:  #00ccff;
    font-size: x-large;
}
.c-1 {
    color:  #00ccff;
    font-size: 20px !important;
    font-family: serif !important;
    font-weight: bold;
}
.c2 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.c3 {
    color: #fff;
    font-size: 25px;
}
.c4 {
    color: #000;
    font-size: 25px;
}
.c5 {
    color: blue;
    font-size: 25px;
}
.c6 {
    color: lightgreen;
    font-size: 25px;
}
.c7 {
    color: #ff1a1a;
    font-size: 25px;
}
.c8 {
    color: #ff66cc;
    font-size: 25px;
}
.ml-1 {
    margin-left: 2%;
}
.ml-2 {
    margin-left: 4%;
}
.ml-3 {
    margin-left: 6%;
}
.ml-4 {
    margin-left: 8%;
}
.ml-5 {
    margin-left: 15%;
}
.ml-6 {
    margin-left: 19%;
}
.ml-7 {
    margin-left: 20%;
}
.ml-8 {
    margin-left: 23%;
}
.bottom-50 {
    padding-bottom: 50px;
}
.bottom-10 {
    padding:  0px 0px 10px 0px;
}
.list-1 {
    list-style-type: none;
    color: #fff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
.list-2 {
    list-style-type: none;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.list-3 {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.list-4 {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.4;
}
.list-5 {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 2%;
}
.btn-sm {
    width: 90%;
    background-color: whitesmoke;
    color: #000;
    padding: 5px 5px;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
.bg-landing {
    background-image: url(img4.jpg);
    width: 100%;
    background-size: cover;
    height: 260vh;
}
.form-text-input {
    width: 90%;
    height: 25px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5px solid #f8f8f8;
    margin-top: 10px;
}
.form-text-area {
    width: 90%;
    height: 85px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5px solid #f8f8f8;
    margin-top: 10px;
}
.dark-scarf {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.img {
    width: 200px;
    height: auto;
    border-radius: 150px;
}
.img1 {
    width: 100%;
    height: auto;
}
.col-1 {
    width: 8.33%;
    position: relative;
    float: left;
}
.col-2 {
    width: 16.67%;
    position: relative;
    float: left;
}
.col-3 {
    width: 25%;
    position: relative;
    float: left;
}
.col-4 {
    width: 33.3%;
    position: relative;
    float: left;
}
.col-5 {
    width: 41.65%;
    position: relative;
    float: left;
}
.col-6 {
    width: 49.98%;
    position: relative;
    float: left;
}
.col-7 {
    width: 58.31%;
    position: relative;
    float: left;
}
.col-8 {
    width: 66.64%;
    position: relative;
    float: left;
}
.col-9 {
    width: 74.97%;
    position: relative;
    float: left;
}
.col-10 {
    width: 83.33%;
    position: relative;
    float: left;
}
.col-11 {
    width: 91.63;
    position: relative;
    float: left;
}
.col-12 {
    width: 99.96%;
    position: relative;
    float: left;
}
.down-1 {
    margin-top: 1%;
}
.down-2 {
    margin-top: 2%;
} 
.down-3 {
    margin-top: 3%;
}
.down-4 {
    margin-top: 4%;
}
.down-5 {
    margin-top: 5%;
}
.down-6 {
    margin-top: 6%;
}
.down-7 {
    margin-top: 7%;
}
.off-1 {
    margin-left: 8.33%;
}
.off-2 {
    margin-left: 16.67%;
}
.off-3 {
    margin-left: 25%;
}